.notifications {
  margin-top: 16px;
}
.notification {
  display: flex;
  align-items: center;
  background: white;
  padding: 12px;
  margin-bottom: 2px;
}
.notification:hover {
  .notification-action {
    opacity: 1;
    transition: 0.5s;
  }
}
.notification-description {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  flex-grow: 1;
}

.notification-action {
  opacity: 0;
  color: gray;
}

.date {
  margin: 0px;
  color: gray;
  font-weight: 550;
  font-size: small;
}

.description {
  display: flex;
  align-items: center;
}

.description > p,
.description > p a {
  margin: 0;
}

.description a {
  margin-left: 6px;
  text-decoration: none;
}
